.height-100vh{
    height: 100vh;
}
.bg{
    background-image: url(img.png);
    background-size: cover;
}
.h1 .p{
    color: aliceblue;
}
.left, .right {
    display: flex;
    align-items: center;
    padding: 0 5%;
}
.row {
    margin: 0;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#tr-popup[data-hidden="true"] {
    opacity: 0;
    visibility: hidden;
}
#tr-popup .tr-popup__block {
    display: block;
}
#tr-popup .tr-popup__title_original {
    font-weight: bold;
}
#tr-popup .tr-popup__block_a, #tr-popup .tr-popup__block_b {
    margin-top: 16px;
}
#tr-popup .tr-popup__button_close {
    right: 4px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PHBhdGggZD0iTTkuMjkzIDEwTDYuMTQ2IDYuODU0YS41LjUgMCAxIDEgLjcwOC0uNzA4TDEwIDkuMjkzbDMuMTQ2LTMuMTQ3YS41LjUgMCAwIDEgLjcwOC43MDhMMTAuNzA3IDEwbDMuMTQ3IDMuMTQ2YS41LjUgMCAwIDEtLjcwOC43MDhMMTAgMTAuNzA3bC0zLjE0NiAzLjE0N2EuNS41IDAgMCAxLS43MDgtLjcwOEw5LjI5MyAxMHoiLz48L3N2Zz4=");
}
#tr-popup .tr-popup__button_menu {
    right: 24px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCI+PHBhdGggZD0ibTUgNnYxaDEwdi0xaC0xMHptMCAzdjFoMTB2LTFoLTEwem0wIDN2MWgxMHYtMWgtMTB6Ii8+PC9zdmc+");
}
.h1{
    color: aliceblue;
}
input[type="submit"] {
    width: 192px;
    height: 50px;
    border-radius: 25px;
    background: #DB0000;
    color: #fff;
    border: 0;
}